# Example argo configuration
#
# The configuration file is specified in TOML format. See
# https://github.com/toml-lang/toml for details on the specification.

# Global settings

# LogLevel sets the threshold for logging. The options are:
# * NONE
# * CRITICAL
# * ERROR
# * WARNING
# * NOTICE
# * INFO
# * DEBUG
# LogLevel = "NOTICE"

# MapFile is the name of the XML file which defines how NMEA 2000 and NMEA
# 0183 messages map to the Signal K structure.
# MapFile = "map.xml"

# HTTP / WebSockets server settings
[Server]

# AssetPath is the path where web assets are located. Default is ./assets,
# relative to the executable. In production, should be /var/lib/signalk/assets
# or other platform appropriate location
# AssetPath = "./assets"

# whether WebSockets support is enabled or not
# EnableWebsockets = true

# port to serve HTTP requests data on
# Port = 8080

# MQTT settings
[Mqtt]

# whether MQTT support is enabled or not
# Enable = true

# whether MQTT should use SSL (TLS) or not. Currently this option is ignored
# and MQTT always uses TLS.
# UseTls = true

# MQTT broker host
# Host = "localhost"

# MQTT broker port
# Port = 8883

# Hardware interface settings
[Interfaces]

# Multiple interfaces can be configrured by creating a new section called
# [interfaces.*]. These must occur after the [interfaces] section above and
# before any other sections defined below. Indenting is optional.
#  [Interfaces.Actisense1]

# path is the filenname of the interface to read from
#  Path = "/dev/ttyUSB0"

# type specifies what type of device the interface is, options are:
# * actisense - Actisense NGT-1 type device
# * canusb - Lawicel CAN-USB type device
# * file - a JSON file with pre-recorded data in CANboat format
#  Type = "actisense"

# speed specifies the baudrate of the device (not required for a file).
# Typically this is 115200 or 230400 depending on the device.
#  Speed = 115200

# Additional examples
#  [Interfaces.Actisense2]
#  Path = "/dev/ttyUSB1"
#  Type = "actisense"
#  Speed = 115200
#
#  [Interfaces.Canusb]
#  Path = "/dev/ttyUSB2"
#  Type = "canusb"
#  Speed = 230400
#
#  [interfaces.Wind]
#  Path = "wind.json"
#  Type = "file"

# Boat's identifying information
[Vessel]

# Registered name of the vessel
# Name = "SS Minnow"

# Manufacturer of the vessel
# Manufacturer = "Wheeler"

# Manufacturer's model name
# Model = "Playmate Express Bridge"

# Year built
# Year = 1964

# Vessel registration
# Registration = "BC112233MV"

# Maritime mobile service identity, regionally assigned
# Mmsi = 123456789

# Radio callsign
# Callsign = "KD123A"

# Signal K UUID
# Uuid = "xxxx-xxx-xxxxx-xxxxxxxxxx-xxxx"
